@media print {
  @page {
    size: A4;
    margin: 1cm;
  }

  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    color: black !important;
    background: white !important;
  }

  /* Asegurar que el contenido se mantenga en una página */
  .print-container {
    page-break-inside: avoid;
    break-inside: avoid;
  }

  /* Ajustes específicos para impresión */
  a {
    color: black !important;
    text-decoration: none !important;
  }

  i {
    color: black !important;
  }

  h1,
  h2 {
    color: black !important;
  }

  /* Líneas divisorias */
  header {
    border-bottom: 1px solid #000 !important;
    background: none !important;
    margin-bottom: 1em !important;
  }

  main > section + section {
    border-left: 1px solid #000 !important;
    border-top: none !important;
    border-right: none !important;
    border-bottom: none !important;
  }
}
