@media print {
  @page {
    size: A4;
    margin: 1cm;
  }

  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  /* Asegurar que el contenido se mantenga en una página */
  .print-container {
    page-break-inside: avoid;
    break-inside: avoid;
  }
}
